.SkillContainer{
    color: white;
    padding:30px;
    border-bottom: 1px solid white;
}

.SkillImages{
    width: 100px;
    height: 130px;
    padding:8px;
}

.reduxIcon{
    width: 200px;
    padding:8px;
}

.reactQueryIcon{
    width: 200px;
    padding:8px;
}